/* JavaFx CSS */

.label {
-fx-text-fill: white;
-fx-text-size: 14;
-fx-font-weight: bold;
}

.combo-box .list-cell
{
    -fx-background-color: #F26623;
    -fx-text-fill: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: #F26623, white;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-base
{
    -fx-background-color: #F26623, #F26623, #F26623, #F26623;
}


HBoxForRunningTeam, HBoxForEditHeatTeam, HBoxForFinishedTeam, HBoxForFinishedUndoTeam, HBoxForStagedTeam, HBoxForWaitListTeam {
    -fx-alignment: center ;
}
